- var loggedInClass = (loggedIn ? 'logged-in' : '')

doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400|Open+Sans:300italic,400italic,700italic,300,400,700,' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/podium.css")
    script(src="/js/vendor/modernizr.js")
    
    block header
      
  body(class="#{loggedInClass}")
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        if loggedIn
          include toolbar.jade

        .main-content
          .row.fader
            .small-12.columns
              if loggedIn
                if error
                  .alert-box.alert.radius(data-alert)
                    | #{error}
                    a.close(href="#") &times;

                if status
                  .alert-box.info.radius(data-alert)
                    | #{status}
                    a.close(href="#") &times;

                ul.breadcrumbs
                  li
                    a(href="/admin") Dashboard
                  if breadcrumbs
                    each breadcrumbTitle, breadcrumbURL in breadcrumbs
                      li
                        a(href="#{breadcrumbURL}") #{breadcrumbTitle}

                    li.current #{title}

              block content
          
          if loggedIn
            a.exit-off-canvas.hide-for-large-up

    script(src="/js/jquery-2.1.1.min.js")
    script(src="/js/foundation.min.js")
    script(src="/js/podium.js")
    if loggedIn
      script(src="/js/podium_admin.js")
    script.
      $(document).foundation();
      $(window).load(function() {
        $('body').addClass('loaded');
      });
    block footer
      